:root {
    --azul: #004fff;
    --preto: #050505;
    --branco: #fff;
    --verde-agua: #d2e9e3;
    --azul-agua: #1a747d;
    --azul-royale: #a8d6e5;
    --cinza: #e2e2e2;
    --dark-blue: #023E8A;
    --medium-blue: #0077B6;
    --light-blue: #90E0EF;
    --pale-blue: #CAF0F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    max-width: fit-content;
    margin-inline: auto;
}

header {
    margin: auto;
    width: 100%;
    height: 5rem;
    align-content: center;
    background-color: var(--azul-agua);
    margin-bottom: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding: 10px;
}

li a {
    color: var(--branco);
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 600;
}

li a:hover {
    background-color: var(--branco);
    color: var(--azul-agua);
    border-radius: 10px;
    transition: ease-in-out 0.1s;
}

.ativo {
    background-color: var(--branco);
    color: var(--azul-agua);
    border: 2px solid var(--branco);
    border-radius: 10px;
}

section {
    margin: auto;
    width: 50%;
    height: 5rem;
    align-content: center;
}

section h2 {
    text-align: center;
}

section article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p {
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    color: #000000;
    width: 100%;
    height: 100px;   
    margin-top: 40px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer a {
    color: #000000;
    margin-right: 10px;
}

footer a:hover {
    transition: ease-in-out .5s;
    color: var(--azul);
}